/* ------------- HEADER COMPONENT ---------- */
.header {
  height: 250px;
  width: 100%;
  background-image: url(https://i.ibb.co/yBtDc0Q/1337871.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 2rem;
  letter-spacing: 1px;
}
.header img{
  width: 50%;
}
/* ------------- NOT FOUND COMPONENT ---------- */
.notFound {
  text-align: center;
  text-transform: capitalize;
}
/* ---------------- all league ---------------- */
.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  background-color: rgb(2, 2, 41);
  padding: 0px 200px 0px 200px;
}
.allLeague {
  text-align: center;
  margin: 20px;
  background-color: #fff;
  padding: 20px 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.allLeague h3 {
  text-transform: capitalize;
}
/* --------- explore btn ---------- */
.btn {
  text-transform: capitalize;
  padding: 10px 20px;
  background-color: rgb(43, 43, 223);
  color: #fff;
  border: 0;
  cursor: pointer;
  letter-spacing: 1px;
}
/* --------- league Detail ---------- */
.container {
  background-color: rgb(2, 2, 41);
}
.league-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 43, 223);
  padding: 30px;
  margin: 50px 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.league-detail {
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}
.description {
  color: #fff;
  margin: 0 200px;
  padding: 20px 0;
  letter-spacing: 1px;
}
.img-holder img {
  width: 500px;
  height: 300px;
}

/* ------- icon ------ */
.icon {
  color: #fff;
  font-size: 1.5rem;
}
.social-icon a {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  margin: 5px 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.social-icon {
  text-align: center;
  padding: 0 0 30px;
}

/* ---------- media query --------- */
@media(max-width: 1600px){
  .home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    background-color: rgb(2, 2, 41);
    padding: 0px 100px;
  }
  .league-card {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
  }
  .description{
    margin: 20px 50px;
  }
  .header img{
    width: 50%;
  }
}
@media(max-width: 1191px){
  .home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    background-color: rgb(2, 2, 41);
    padding: 0px 50px;
  }
  .league-card {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
  }
  .description{
    margin: 20px 50px;
  }
  .header img{
    width: 50%;
  }
}
@media (max-width: 991px) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    background-color: rgb(2, 2, 41);
    padding: 0px 50px;
  }
  .league-card {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
  }
  .img-holder img {
    width: 100%;
  }
  .description{
    margin: 20px 50px;
  }
  .header img{
    width: 50%;
  }
}
@media(max-width: 767px){
  .home{
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    background-color: rgb(2, 2, 41);
    padding: 0px 50px;
  }
  .league-card {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
  }
  .img-holder img {
    width: 100%;
  }
  .description{
    margin: 20px 50px;
  }
  .header img{
    width: 50%;
  }
}
@media(max-width: 576px){
  .home{
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    background-color: rgb(2, 2, 41);
    padding: 0px 10px;
  }
}